*{
    margin: 0; 
    padding: 0; 
}

header{
    background-color: blueviolet; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

section{
    display: flex;
    align-items: center;
    background-color: darkviolet;
    color: azure;
    margin: 10px 0;
    padding: 10px 20px;
}

div{
    padding: 30px;
}